[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aerich = "==0.6.1"
fastapi = "==0.70.1"
tortoise-orm = "==0.17.8"
uvicorn = {version = "==0.16.0", extras = ["standard"]}

[dev-packages]
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.9"
